
<div class = "target-box">
  <%=form_for [game, tag], remote: true do |f| %>
    <%= f.collection_select :character_id, game.remaining_characters, :id, :name, {:prompt => "Whom did you find?!!!"} %>
    <%= f.hidden_field :position_x, :value => position_x %>
    <%= f.hidden_field :position_y, :value => position_y %>
    <%= f.submit "Tag me!", class: "tag-submit" %>
  <% end %>
</div>